<form (submit)="guardarCambios()" [formGroup]="form">
    <h2>{{accion}}</h2>
    <app-mostrar-error [errores]="errores"></app-mostrar-error>
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombres" matInput />
        <mat-error *ngIf="form.invalid">{{obtenerErrorCampoNombre()}}</mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de nacimiento*</mat-label>
        <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.invalid">{{obtenerErrorCampofecha()}}</mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Direccion*</mat-label>
        <textarea formControlName="direccion" matInput></textarea>
        <mat-error *ngIf="form.invalid">{{obtenerErrorCampoDireccion()}}</mat-error>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/clientes">
            Cancelar
        </a>
    </div>
</form>
