mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 1000;
    background: #007bff !important;
    background: linear-gradient(to right, #0062E6, #33AEFF) !important;
}

app-autorizado{
    display: flex;
}

.espacio {
    flex: 1 1 auto;
}

.font{
    font-size: 1rem;
}